<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>7010B257-8006-41DB-A4A1-96AF9EFA87FA</string>
			<string>------------------------------------</string>
			<string>B9F46C37-8C75-4565-87F9-7BF4722DF4B8</string>
			<string>512E481D-298D-407D-9CBC-A1C1E91C1492</string>
			<string>600E403E-AB25-4AA0-91ED-67EA5A0A04E2</string>
			<string>8C51DAE1-FF95-4073-BF72-DCBE5275FB65</string>
			<string>5A05620D-94A3-46A7-9CDD-D5BA8E58B849</string>
			<string>------------------------------------</string>
			<string>E17FB077-FABB-4B17-8DFB-7C74544D3B63</string>
			<string>------------------------------------</string>
			<string>7A5AC03D-F3D6-4376-B54B-E9D7D3434F37</string>
			<string>6DEAF226-051C-4A6E-A3EC-F7AF009A50E2</string>
			<string>3AC4AFE3-507D-4E85-BB74-C3E37CE00729</string>
			<string>F3E4C87A-1B1E-4CA7-8A47-60CA3F3FF79B</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>RubyFrontier</string>
	<key>ordering</key>
	<array>
		<string>512E481D-298D-407D-9CBC-A1C1E91C1492</string>
		<string>E17FB077-FABB-4B17-8DFB-7C74544D3B63</string>
		<string>6DEAF226-051C-4A6E-A3EC-F7AF009A50E2</string>
		<string>7010B257-8006-41DB-A4A1-96AF9EFA87FA</string>
		<string>B9F46C37-8C75-4565-87F9-7BF4722DF4B8</string>
		<string>8C51DAE1-FF95-4073-BF72-DCBE5275FB65</string>
		<string>5A05620D-94A3-46A7-9CDD-D5BA8E58B849</string>
		<string>600E403E-AB25-4AA0-91ED-67EA5A0A04E2</string>
		<string>7A5AC03D-F3D6-4376-B54B-E9D7D3434F37</string>
		<string>3AC4AFE3-507D-4E85-BB74-C3E37CE00729</string>
		<string>F3E4C87A-1B1E-4CA7-8A47-60CA3F3FF79B</string>
	</array>
	<key>uuid</key>
	<string>A7AFE58A-B92E-4F02-BEB9-0E114B6A272A</string>
</dict>
</plist>
